* {
  margin: 0;
  box-sizing: border-box;
}

/* Landing page */
body {
  background-color: #f3f7f0;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 5% 5% 0 5%;
  /*
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
*/
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  margin: 10%;
  font-size: 25px;
  text-align: center;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 00;
  font-style: normal;
}

h4 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  text-align: -webkit-auto;
  padding: 5%;
  font-size: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 1.5;
}

.quote {
  font-size: 25px;
  text-align: center;
}

.maja,
.steffen,
.dennis,
.kristoffer,
.søren,
.sebastian,
.anne,
.kenneth,
.magnus {
  position: relative;
  text-align: center;
}

.business {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 0%;
  color: white;
}

.name {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.nhordic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

img {
  width: -webkit-fill-available;
  object-fit: cover;
  height: 305px;
}

.front img {
  width: -webkit-fill-available;
  object-fit: cover;
}

.søren .top-img {
  display: block;
  object-fit: scale-down;
}

a,
h3,
h4 {
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  text-align: center;
  background: #d3a809;
  border-radius: 70px;
  font-size: 30px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #f3f7f0;
  padding: 5%;
  margin: 0 20% 0 20%;
}

.cta {
  margin: 250px 0 250px 0;
}

.fun {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

/* lavet ved hjælp af youtubevideo: https://www.youtube.com/watch?v=NHb3o3sP9iA */
.top-img {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all, 0.5s ease;
  object-fit: scale-down;
}

.top-img:hover {
  opacity: 1;
  background-color: white;
}

/* Iværksætternes egen side */

header img {
  height: auto;
}

.year {
  padding: 0 5%;
  margin: 1% 0% 0% 0%;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #4b4237;
}

.education {
  padding: 0 5%;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #d3a809;
}

.back {
  height: 30px;
  width: 30px;
  margin: 20px;
}

.so-me-logo {
  height: 50px;
  width: 50px;
  object-fit: scale-down;
  transition: all, 0.7s;
  position: absolute;
}

.own-logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: scale-down;
  background-color: white;
  transition: all, 0.7s;
  position: absolute;
}
.so-me-logo:hover,
.own-logo:hover {
  height: 90px;
  width: 90px;
}

.socialM {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap;
  height: fit-content;
}

iframe {
  width: -webkit-fill-available;
  margin: 2%;
}

.text {
  padding: 1% 5%;
}

@media screen and (min-width: 600px) {
  /* Tablet version */
  img {
    height: 600px;
    width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .nhordic {
    width: fit-content;
  }

  .video {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 600px;
    margin: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 337px;
  }

  .pb {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 20px solid #4b4237;
  }

  .front img {
    width: -webkit-fill-available;
    object-fit: cover;
  }

  h2 {
    margin: 4%;
    font-size: 40px;
  }

  .btn {
    background: #d3a809;
    font-size: 50px;
  }

  .cta {
    margin: 230px 0 230px 0;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop version - 1024 */

  img {
    height: 335px;
    width: 335px;
    object-fit: cover;
  }

  p {
    padding: 1%;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btn {
    display: block;
    text-align: center;
    background: #4b4237;
    border-radius: 70px;
    font-size: 45px;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: #736b60;
    transition: all, 0.2s ease;
    position: relative;
    padding: 2.5%;
    margin: 3% 40% 0 40%;
  }

  .btn:hover {
    color: #f3f7f0;
    background-color: #d3a809;
  }

  iframe {
    width: 900px;
    height: 500px;
  }

  .business {
    position: absolute;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: auto;
    color: white;
  }

  .name {
    position: absolute;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 50px;
    margin: 3%;
  }

  /* Iværksætternes egen side */
  .text {
    padding: 1% 2%;
  }

  .fun {
    padding: 2%;
  }

  .education,
  .year {
    padding: 0% 2%;
  }

  .socialM {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
    flex-direction: row;
    height: fit-content;
  }

  .own-logo,
  .so-me-logo {
    height: 70px;
    width: 70px;
  }

  .linkedin-post {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tiktok {
    display: flex;
  }

  .grid {
    margin: 2% 3% 2% 3%;
    padding: 2%;
    border-radius: 90px 190px 60px 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pb a"
      ". b";
    background-color: #736b60;
  }
}

@media screen and (min-width: 1440px) {
  /* Desktop version - 1440px */
  img {
    height: 380px;
    width: 379.5px;
    object-fit: cover;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
