* {
  margin: 0;
  box-sizing: border-box;
}

/* Landing page */
body {
  background-color: #f3f7f0;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 5% 5% 0 5%;
  /*
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
*/
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  margin: 10%;
  font-size: 25px;
  text-align: center;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 00;
  font-style: normal;
}

h4 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  text-align: -webkit-auto;
  padding: 5%;
  font-size: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.quote {
  font-size: 25px;
  text-align: center;
}

.maja,
.steffen,
.dennis,
.kristoffer,
.søren,
.sebastian,
.anne,
.kenneth {
  position: relative;
  text-align: center;
}

.business {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 0%;
  color: white;
}

.name {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

img {
  height: 400px;
  width: -webkit-fill-available;
  object-fit: cover;
}

.søren .top-img {
  display: block;
  object-fit: scale-down;
}

a,
h3,
h4 {
  display: flex;
  justify-content: end;
}

.btn {
  display: block;
  text-align: center;
  background: #4b4237;
  border-radius: 10%;
  font-size: 50px;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #736b60;
  padding: 10%;
  margin: 0 20% 0 20%;
  transition: all, 0.2s ease;
  position: relative;
}

.btn:hover {
  color: #f3f7f0;
  background-color: #d3a809;
}

/* lavet ved hjælp af youtubevideo: https://www.youtube.com/watch?v=NHb3o3sP9iA */
.top-img {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all, 0.5s ease;
}

.top-img:hover {
  opacity: 1;
  background-color: white;
}

/* Iværksætternes egen side */

header img {
  height: auto;
}

.year {
  padding: 0 5%;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #4b4237;
}

.education {
  padding: 0 5%;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #d3a809;
}

.back {
  height: 30px;
  width: 30px;
  margin: 20px;
}

.so-me-logo {
  height: 50px;
  width: 50px;
  object-fit: scale-down;
}

.socialM {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

iframe {
  width: -webkit-fill-available;
}

.own-logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 768px) {
  /* Tablet version */
  img {
    height: 650px;
    width: 3500px;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop version */

  img {
    height: 400px;
    width: 400px;
  }
  div {
    display: inline-block;
  }

  .business {
    position: absolute;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: auto;
    color: white;
  }

  .name {
    position: absolute;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 50px;
    margin: 3%;
  }

  /* Iværksætternes egen side */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
